<section class="menu">
  
  <header>{{menuTitle}}</header>
  
  <img src="/images/{{filename}}" alt="{{description}}">
  
  <div class="event-details">
    
    <h2>{{event_title}}</h2>
      <h3>{{event_date}}</h3>
        <h4>{{event_location}}</h4>
           <p>{{event_description}}</p>

  </div>

  <div class="menu-details">

<img src="/images/{{appetizer_picture}}" alt="{{appetizer_description}}">
    <h3>{{appetizer_name}}</h3>
      <p>{{appetizer_description}}</p>

<img src="/images/{{main_picture}}" alt="{{main_description}}">
    <h3>{{main_name}}</h3>
      <p>{{main_description}}</p>

<img src="/images/{{drink_picture}}" alt="{{drink_description}}">
    <h3>{{drink_name}}</h3>
      <p>{{drink_description}}</p>

<img src="/images/{{dessert_picture}}" alt="{{dessert_description}}">
    <h3>{{dessert_name}}</h3>
      <p>{{dessert_description}}</p>

  </div>
</section>