{{!-- {{#if loggedIn}} --}}


<div class=" row justify-content-center">
    <div class="col-6">
      
            <!-- EVENT CARD-->
            <div class="event-card2">

                <div class="event-body2">
                      <h2>{{event.event_title}}</h2>
                        
                        <h3>{{event.event_location}}</h3>
                        <h3>{{event.event_date}}</h3>
                      
                      <div class="event-details2">
                            <p>{{event.event_description}}</p>
                      </div> 

                </div>
            
            </div>
           
            <!-- MENU CARD-->
            <div class="menu-card">
                <h1>Main Menu</h1>
                
                <div class="appetizer">
                    <h2>Appetizer</h2>
                    <br>
                    <img src="/images/{{event.menu.appetizer_picture}}" class="homepage-image" alt="...">
                    <h3>{{event.menu.appetizer_name}}</h3>
                    <p>{{event.menu.appetizer_description}}</p>
                    <br>
                </div>
                
                <div class="mainCourse">
                    <h2>Main Course</h2>
                    <br>
                    <img src="/images/{{event.menu.main_picture}}" class="homepage-image" alt="...">
                    <h3>{{event.menu.main_name}}</h3>
                    <p>{{event.menu.main_description}}</p>
                    <br>
                </div>

                <div class="drink">
                    <h2>Beverage</h2>
                    <br>
                    <img src="/images/{{event.menu.drink_picture}}" class="homepage-image" alt="...">
                    <h3>{{event.menu.drink_name}}</h3>
                    <p>{{event.menu.drink_description}}</p>
                    <br>
                </div>

                <div class="dessert">
                    <h2>Dessert</h2>
                    <br>
                    <img src="/images/{{event.menu.dessert_picture}}" class="homepage-image" alt="...">
                    <h3>{{event.menu.dessert_name}}</h3>
                    <p>{{event.menu.dessert_description}}</p>
                    <br>
                </div>
                
            
            </div>

    </div>
</div>

{{!-- {{/if}} --}}